body{
	margin-left:auto;
	margin-right:auto;
	font-family: Helvetica;
	color:#444;
}
body.no{
	width: 300px;
}
body.file{
	width: 625px;
}
h1{
	text-align: center;
}
table.no{
	width:500px;
	margin-left:auto;
	margin-right:auto;
}
textarea{
	height:100px;width:50%;
}
textarea.advanced{
	height:300px;width:625px;
}
table.no td.crumb {color: #777;font-size:9px;background: #efefef}
table.no td.crumb a {color: #aaa}
table.no {background: #bbb; width:100%}
table.no td { padding-left: 20px; padding-bottom: 8px; padding-right: 8px; padding-top: 8px; background: #fff; color: #666;}
table.no td.subheader {padding: 4px; background: #ddd; font-size: 11px; font-weight: bold}
table.no td.subheader a {color: #666;}
table.no td.subheaderActive {background: #aaa; color: #222; font-size: 11px; font-weight: bold}
table.no td.subheaderActive a {color: #fff}
table.no td.active {background-color: #D3E4F0}
table.no td.status {text-align: center}
table.no td.header {font-weight: bold; background: #D3E4F0}
table.no td.table { padding: 0px;background: #fff; color: #666}
table.no td.table td.header{ font-weight: bold; background: #d1d1d1}
table.no td.text { background-position: left center; background-repeat: no-repeat; background-image: url(text.png);}
table.no td.folder { background-position: left center; background-repeat: no-repeat; background-image: url(folder.jpg);}

h2{
	font-size: 23px;
	color: #b3b3b3;
}
h1{
	font-size: 30px;
	color: #444;
}
input {
	font-size: 16px;
	margin-bottom: 20px;
	width: 50%;
}
#submit{
	font-size: 16px;
	padding: 10px;
	width: 100%;
}
input.login{
	width:300px;
}
.install{
	width: 300px;
	margin-left:auto;
	margin-right:auto;
	font-family: Helvetica;
	color:#444;
}
hr{
	height: 3px;
	background-color: #eaeaea;
	width:400px;
	margin-left: -50px;
	border: none;
}
.install input {
	font-size: 16px;
	margin-bottom: 20px;
	width: 100%;
}